.header {
  position: relative;
  height: $header-height;
  background-attachment: fixed;
  background-image: url($header-image-path);
  background-repeat: no-repeat;
  background-position: top center;

  .title {
    @include align-center;
    display: block;
    top: 45%; // mixin 'align-center' overwrite to shift upward
    padding: .2em 1em;
    border: $header-title-border-width-pc solid $color-primary;
    border-radius: $radius-default;
    color: $color-primary;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    @media (max-width: $breakpoint-xxs) {
      border-width: $header-title-border-width-sp;
      font-size: 1.5em;
    }

    // Make the capital bigger
    .capital {
      font-size: 1.1em;
      letter-spacing: -5px;
    }
  }
}
