.header {
  position: relative;
  height: 600px;
  // background-color: $color-header-background;
  background-attachment: fixed;
  background-image: url('./images/header.jpg');
  background-repeat: no-repeat;
  background-position: top center;

  .title .capital {
    font-size: 1.2em;
    letter-spacing: -5px;
  }
}

.title {

  display: table;
  position: absolute;

  top: 45%;
  left: 50%;
  padding: .2em 1em;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


  border: 6px solid $color-header-text;
  border-radius: $radius-default;

  color: $color-header-text;
  text-shadow: 1px 1px 4px rgba(20, 20, 20, 0.6);
  text-transform: uppercase;

  box-shadow: 1px 1px 4px rgba(20, 20, 20, 0.6);

  @media (max-width: 480px) {
    border-width: 4px;
    font-size: 1.5em;
  }

}
