.nav-circle {
  display: block;
  position: relative;
  width: $circle-icon-radius;
  height: $circle-icon-radius;
  margin: $circle-icon-margin auto;
  border-radius: $circle-icon-radius / 2;
  background-color: $color-primary;
  color: $color-background;

  .nav-icon {
    @include align-center;
    width: 100%;
  }
}
