.nav-circle {
  display: block;
  position: relative;
  width: $circle-icon-radius;
  height: $circle-icon-radius;
  margin: $circle-icon-margin auto;
  border-radius: calc($circle-icon-radius / 2);
  background-color: $color-primary;
  color: $color-background;

  .nav-icon {
    @include align-center;
    width: 100%;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
  }

  .nav-icon-developer_board {
    padding-left: 3px;
  }

}
