.product-inner {
  margin: auto;
  padding: 1em;

  .function-list {
    padding-left: 1em;
  }
}

.product-title {
  margin-bottom: 2em;
}

.product-image {
  width: 100%;
  margin: auto;

  -webkit-filter: opacity(90%);
  filter: opacity(90%);
}

.product-description {
  margin: 1em;
}
