.section {

  // margins definition
  &:first-child {
    margin-top: $section-margin-unit;
  }

  margin-top: $section-margin-unit * 2;
  margin-bottom: $section-margin-unit * 2;

  &:last-child {
    margin-bottom: $section-margin-unit;
  }

  .section-content {
    margin-top: $section-margin-unit / 2;
    padding: 0 ($section-margin-unit / 2);
  }

  .section-banar-image {
    @include shadow-box;
    width: 100%;
    max-width: 480px;
    padding: .5em;
  }


  .button-join {
    bottom: $section-margin-unit;
  }

  .schedule-box {
    @include shadow-box;
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin: $section-margin-unit auto;
    padding: 1em;
  }
}

.button {
  display: inline-block;
  margin: $section-margin-unit auto;
  padding: .7em 1em .4em;
  border-radius: $radius-default * 2;
  background-color: $color-primary;
  color: $color-background;
  text-decoration: none;

  &:hover {
    background-color: darken($color-primary, 30%);
    color: $color-background;
    text-decoration: none;
  }
}
