$font-size-base: 16px;

$color-primary: lighten(orange, 25%);
$color-secondary: rgb(80, 120, 60);
// $color-emphasize: darken(red, 30%);
$color-background: white;

// header
$header-height: 600px;

// sectioning
$setion-margin-unit: 4em;

// iconic separator
$circle-button-radius: 80px;

// default radius for rectangle elements
$radius-default: 3px;
