// typography
$font-size-base: 16px;
$line-height-base: 1.75;
$font-family-base:
'Raleway',
'HelveticaNeue',
'Helvetica Neue',
'Helvetica',
'Arial',
'游ゴシック体',
'Yu Gothic',
'YuGothic',
'ヒラギノ角ゴシック Pro',
'Hiragino Kaku Gothic Pro',
'メイリオ',
'Meiryo',
'Osaka',
'MS Pゴシック',
'MS PGothic',
'sans-serif';


// Colors
$color-primary: lighten(orange, 25%);
$color-secondary: rgb(80, 120, 60);
$color-background: white;

// header
$header-height: 600px;
$header-image-path: './images/header.jpg';
$header-title-border-width-pc: 4px;
$header-title-border-width-sp: 2px;

// sectioning
$setion-margin-unit: 4em;

// iconic separator
$circle-icon-radius: 80px;
$circle-icon-margin: 2em;

// default radius for rectangle elements
$radius-default: 3px;
