@import 'variables';
@import 'header';
@import 'section';
@import 'products';
@import 'footer';
@import 'navigation';

body,
html {
  background-color: $color-background;
  color: $color-secondary;
  font-family:
  'Raleway',
  'HelveticaNeue',
  'Helvetica Neue',
  'Helvetica',
  'Arial',
  '游ゴシック体',
  'Yu Gothic',
  'YuGothic',
  'ヒラギノ角ゴシック Pro',
  'Hiragino Kaku Gothic Pro',
  'メイリオ',
  'Meiryo',
  'Osaka',
  'MS Pゴシック',
  'MS PGothic',
  'sans-serif';
  font-size: $font-size-base;
}
